.App button{
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}
.App button:hover {
  background-color: lightgreen;
  color:black;
}
.App button.red{
  background-color: red;
  border: 1px solid blue;
}
.App button.red:hover {
  background-color: salmon;
  color:black;
}